@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
  font-family: 'Roboto', sans-serif;
}

a{
  color: inherit;
  &:hover {
    color:inherit;
    text-decoration: none;
  }
}

h2{
  text-align: center;
}

button{
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: rgb(48,95,152);
  color: white;
  -webkit-box-shadow: 2px 2px 1px 0px #ccc;
  -moz-box-shadow:    2px 2px 2px 0px #ccc;
  box-shadow:         2px 2px 1px 0px #ccc;
  &.delete-button{
    background-color:rgb(190,20,44);
  }
  &:hover{
    opacity: 0.85;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
  }
}

.garage-photo{
  width: 100%;
  height: 48vh;
  background-image: url("https://source.unsplash.com/oAPv2AoMmCU/800x450");
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.index-page{
  margin-top: 20px;
}

.garage-details{
  text-align: center;
}

.cars-list{
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(220,220,220);
  -webkit-box-shadow: 2px 2px 2px 0px #ccc;
  -moz-box-shadow:    2px 2px 2px 0px #ccc;
  box-shadow:         2px 2px 2px 0px #ccc;
}

.car-item{
  background-color: rgb(250,250,250);
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
  &:hover{
    border: 2px solid rgba(150,150,150,0.9);
  }
}

.bar{
  width: 100%;
  padding: 12px 0px;
  text-align: center;
  background-color: #ccc;
  color: white;
  font-size: 1.6em;
}

